<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="/img/pic1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="/img/pic2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <img src="/img/pic3.jpg" style="width:100%">
    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <script src="/js/main.js"></script>
</div>



<!-- -->
<div class="cbody">
    <div id="root"></div>
    <div id="root2"></div>
    <script src="/js/script.js"></script>
</div>
{{>footer}}