<div class="footer">
    <div class="footer1">
        <h2>Derechos Reservados</h2>
    </div>
    <div class="footer2">
        <h2>Contenido Obtenido desde Wikipedia</h2>
    </div>
    <div class="footer3">
        <h2>Web Desarrollada con:
            <ul class="cul">
                <li>Node.js</li>
                <li>JavaScripts</li>
                <li>JSON</li>
                <li>MongoDB</li>
            </ul>
        </h2>
    </div>
</div>