<style>
a:hover{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
</style>
<div class="header">
    <a href="/">Mi Resumen CV</a>
    <a class="inf">Servicio Cargar y Generar Plantilla Resumen CV</a>
    <ul class="navbar-nav ml-auto">
    {{#if user}}
         <ul class='menu'>
            <li><a href='/data'>Consultar - Actualizar</a></li>
            <li><a href='/users/logout'>Salir</a></li>
            </ul>
 
        {{else}}
            <ul class='menu'>
                    <li><a href='/users/signin'>Entrar</a></li>
                    <li><a href='/users/signup'>Registrar</a></li>
                </ul>
                </li>
            </ul>

        {{/if}}
    </ul>
</div>