<div class="iman">
    <div>
        <img src="/img/cv-group.svg" style="width: 50%; align-self:center; margin-left:50rem; margin-top:6rem;">
    </div>
    <div class="forma" style="box-shadow:none; position:absolute; margin-left: 18rem;">
        <div class="card" style="margin-left: -8rem; margin-top: 2rem;">
            <h1>Ingreso datos a Envia</h1>
            <form action="/email/{{datauser._id}}" method="POST">
                <div class="form-group marginuser">
                    <input type="email" name="Semail" placeholder="Direccion Email a Enviar">
                </div>
                <div class="form-group marginuser" style="margin-left: 3.5rem;">
                    <input type="text" name="message" placeholder="Ingrese corto mensaje">
                </div>
                <div class="form-group marginuser">
                    <button type="submit" class="btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
<div class="line1"></div>