<div class="section sectionform">
    <div class="article" style="margin-left: -12rem;">
    <div class="card">
        <h1>Ingresar Datos Personales</h1>
   <form action="/person/add" method="POST">
        <div class="form-person">
            <label for="firts_name">Nombre</label>
            <input type="text" placeholder="Ingrese su Nombre" name="firts_name">
            <label for="last_name">Apellido</label>
            <input type="text" placeholder="Ingrese su Apellido" name="last_name">
        </div>
        <div class="form-person">
            <label for="country">Pais</label>
            <input type="text" placeholder="Pais Residencia" name="country">
            <label for="last_name">Telefono Contacto</label>
            <input type="text" placeholder="Telefono" name="phone">
        </div>
        <div class="form-person">
            <label for="linkedin">Dirección Linkedin</label>
            <input type="text" placeholder="Dirección Linkedin Si Posee" name="linkedin">
            <label for="github">Otra Red Social</label>
            <input type="text" placeholder="Dirección GitHub Si Posee" name="github">
        </div>
        <div class="form-person">
            <label for="skype">Dirección Skype</label>
            <input type="text" placeholder="Dirección Skype Si Posee" name="skype">
        </div>
        <div class="form-person">
            <label for="summary">Sumario</label>
            <textarea  placeholder="Sumario max 500 Caracteres" name="summary"></textarea>
        </div>
            <button type="submit" class="btn-primary">Salvar</button>
   </form>
</div></div></div>