<div class="section sectionform">
    <div class="article" style="margin-left: -10rem;">
    <div class="card">
        <h1>Ingresar Datos De Estudio</h1>
   <form action="/edu/Eadd" method="POST">
        <div class="form-person">
            <label for="carrer">Carrera/Profesion</label>
            <input type="text" name="carrer">
            <label for="from">Fecha Inicio</label>
            <input type="date" name="from">
        </div>
        <div class="form-person">
             <label for="school">Instituto/Universidad</label>
            <input type="text" name="school">
            <label for="to">Fecha Completado</label>
            <input type="date" name="to">
        </div>
            <button type="submit" class="btn-primary">Salvar</button>
   </form>
</div></div></div>